/* 
 *  Sercan Uste 
 *  sercanuste.com
 *  sercan.uste@bilgeadam.com
 *
 */

* {
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  overflow: hidden;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.form-control {
  float: left;
  width: 100%;
  height: 48px;
  padding: 0 5px;
  border-radius: 6px;
  border: 1px solid #eff4f7;
  margin-bottom: 30px;
  background: #ffffff;
  font-size: 24px;
  font-weight: 300;
  color: #8193a1;
}

.form-control:focus,
.form-control:active {
  border-color: #83d7af;
}

.link {
  font-weight: 300;
  color: #8193a1;
  text-decoration: underline;
}

.btn {
  float: left;
  width: 100%;
  height: 50px;
  line-height: 48px;
  border-radius: 6px;
  border: 0;
  border-bottom: 2px solid #65b28d;
  margin-bottom: 30px;
  background: #83d7af;
  font-size: 24px;
  color: #fbfbfb;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  background: #ffffff;
  border-bottom: 1px solid #ecf0f3;
  z-index: 9999;
}
.header .logo {
  float: left;
  width: 100%;
  height: 30px;
  text-align: center;
}
.header .logo img {
  display: inline-block;
  width: auto;
  height: 100%;
}

.content {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.content .list-item {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ecf0f4;
  font-weight: 300;
  color: #8193a1;
  overflow: hidden;
  -webkit-transition: padding-bottom 1s, border 1s;
  transition: padding-bottom 1s, border 1s;
}
.content .list-item.active {
  padding-bottom: 51px;
}
.content .list-item.removed {
  padding-bottom: 0;
  border: 0;
}

.content .list-item .decoration {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 31px;
  border-right: 1px solid #ecf0f4;
  z-index: 9;
}
.content .list-item.active .decoration {
  border-color: #8496a3;
}
.content .list-item .decoration .circle {
  position: absolute;
  top: 13px;
  left: 22px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 1px solid #ecf0f4;
  background: #ffffff;
  z-index: 99;
}
.content .list-item.active .decoration .circle {
  border-color: #8496a3;
}
.content .list-item .decoration .circle .circle-inner {
  float: left;
  width: 7px;
  height: 7px; 
  margin-top: 4px;
  margin-left: 4px;
  border-radius: 100%;
  background: #ecf0f4;
  z-index: 999;
}
.content .list-item.active .decoration .circle .circle-inner {
  background: #8496a3;
}

.content .list-item .item-content {
  float: left;
  width: 100%;
  margin: 10px 10px 10px 61px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.content .list-item.completed .item-content {
  text-decoration: line-through;
}
.content .list-item.removed .item-content {
  height: 0;
  margin: 0 10px 0 61px;
}

.content .list-item .item-actions {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 41px;
  padding: 10px 20px;
  border-bottom: 1px solid #ecf0f3;
  background: #f6f9fb;
  z-index: 99;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}
.content .list-item.active .item-actions {
  bottom: 0;
}
.content .list-item.removed .item-actions {
  bottom: -100%;
}
.content .list-item .item-actions .action-button {
  float: left;
  height: 20px;
  margin-right: 20px;
}
.content .list-item .item-actions .action-button img {
  float: left;
  height: 100%;
}

.modal {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: -100%;
  left: 0;
  z-index: 999999;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: top 1.5s, bottom 1.5s;
  transition: top 1.5s, bottom 1.5s;
}
.modal.fade-in {
  top: 0;
  bottom: 0;
}

.modal .container {
  float: left;
  width: 100%;
  padding: 30px;
}
.modal .container .box {
  position: relative;
  float: left;
  width: 100%;
  padding: 30px 30px 0 30px;
  border-radius: 13px;
  border-bottom: 2px solid #d7dadc;
  background: #f6f9fb;
}
.modal .container .box .hide-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  background: #65b28d url('../images/icon-x.png') center center no-repeat;
  border-radius: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-top: 1px solid #ecf0f3;
  text-align: center;
  z-index: 9999;
}
.footer .add-btn {
  display: inline-block;
  width: 100px;
  height: 60px;
  border-radius: 100px 100px 0 0;
  margin-top: -10px;
  background: #5ac994 url('../images/icon-plus.png') center 20px no-repeat;
}